$color-gray       : #777777;
$color-dark       : #000000;
$color-gray-light : #F4F4F4;

// social colors
$color-youtube    : #C4302B;
$color-twitter    : #00ACEE;
$color-instagram  : #C13584;
$color-facebook   : #3B5998;
$color-linkedin   : #0E86A8;
